@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: auto;
    justify-content: center;
    padding-left: 2rem;
    width: 100%;
    height: 97vh;
    overflow: hidden;
}


.heading-container {
    width: 329px;
    height: 122px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.second-container {
    padding: 2rem;
}

.title {
    font-size: 35px;
}

.main-img {
    height: auto;
    height: 730px;
}

.performance-container {
    width: 700px;
    display: flex;
    padding:10px;
    margin-bottom: 1rem;
}

.performance-text {
    /* i changed padding to margin */
    margin-left: 10px; 
}

h3 {
   font-size: 20px;
    color:#ED4657;
}

.second-container h3{
    margin-bottom: .5rem;
    margin-top: 2.5rem;
}

.icon {
    height: auto;
    width: 90px;
    /* margin-right: 10px; */
} 

.vector-container,
.prototype-container,
.performance-container{
    width: 500px;
    height: 110px;
    align-items: center;
    display: flex;
}

.vector-container{
    margin-bottom: 1rem;
}

p{
    line-height: 1rem;
    width: 347px;
    height: 69px;
    margin-bottom: 2.5rem;
    font-size: 15px;

}

.vector-text p {
    margin-left: 1rem;   
}

.prototype-text p {
    margin-left: 1rem;
}

.vector-text h3{
    color: #40975F;
    margin-left: 1rem;

}

.prototype-text h3{
    color: #326BFF;
    margin-left: 1rem;
}